@import './mixins';

.is-loading {
  color: transparent !important;
  pointer-events: none;
  position: relative;
  &:after {
    @include loader;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -0.5rem;
    margin-left: -0.5rem;
  }
}

.navbar {
  border-radius: 0 !important;
}

.profile-avatar {
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  margin-right: 0.5em;
  background-color: #fff;
}

.profile-dropdown {
  padding: 0.5rem;
}