// Colors
$primary-color: #00a2d3;
$dark-grey: #333645;

$brand-primary: $primary-color !default;
$brand-success: #5cb85c !default;
$brand-info: #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #d9534f !default;